<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Inicio'  %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'Crear-usuario'  %}">Crear Usuarios</a>
        <a class="navbar-brand" href="{% url 'Crear-tarea'  %}">Crear Tareas</a>
        <a class="navbar-brand" href="{% url 'Crear-premio'  %}">Crear Premios</a>
        <a class="navbar-brand" href="{% url 'Listar-tarea'  %}">Consultar Tareas</a>
        <a class="btn btn-primary" href="#signup">Iniciar sesion</a>
    </div>
</nav>